<section class="text-center" id="services">
  <div class="container">
    <h2 class="text-center">Our Banking Services</h2>

    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card mb-2">
          <i class="fa-solid fa-credit-card fa-3x text-primary mb-3 mt-2"></i>
          <h5>Credit & Debit Cards</h5>
          <p>Enjoy secure and fast payments worldwide with our digital cards.</p>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card mb-2">
          <i class="fa-solid fa-building-columns fa-3x text-primary mb-3 mt-2"></i>
          <h5>Online Transactions</h5>
          <p>Transfer money instantly with zero service charges using TrustPay.</p>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <a href="https://www.w3schools.com" class="d-block text-decoration-none text-dark">
          <div class="card mb-2">
            <i class="fa-solid fa-hand-holding-usd fa-3x text-primary mb-3"></i>
            <h5>Loans & Investments</h5>
            <p>Apply for personal loans or manage investments directly online.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
